.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin: 0%;
    padding: 0%;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}