{% extends "layout.html" %}

{% block body %}

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>

                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Contact Us</h5>
                    <h1 class="mb-5">Contact For Query</h1>
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row>* gy-4">
                            <div class="col-md-4">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">For Booking Related Query</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>erum2406@gmail.com</p>
                                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 7398963863</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">For General Query</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>mosameersaifi000@gmail.com</p>
                                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 6388389179</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">For Technical Query</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>prateekya23@gmail.com</p>
                                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 9956049122</p>
                            </div>
                        </div>
                    </div>
                    
            </div>
        </div>
        <!-- Contact End -->


        <!-- Footer Start -->
        {% endblock %}